@font-face {
  font-family: 'iconfont';  /* Project id 2827720 */
  src: url('https://at.alicdn.com/t/font_2827720_6t5iqvy8vja.woff2?t=1632364747811') format('woff2'),
       url('https://at.alicdn.com/t/font_2827720_6t5iqvy8vja.woff?t=1632364747811') format('woff'),
       url('https://at.alicdn.com/t/font_2827720_6t5iqvy8vja.ttf?t=1632364747811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60e";
}
.icon-weixin:before {
  content: "\e607";
}
.icon-zhifubao:before {
  content: "\e60a";
}
.icon-yinlian:before {
  content: "\e614";
}

