
@font-face {
  font-family: 'iconfont';  /* Project id 2827720 */
  src: url('https://at.alicdn.com/t/font_2827720_s1qw03dq0na.woff2?t=1632550490222') format('woff2'),
       url('https://at.alicdn.com/t/font_2827720_s1qw03dq0na.woff?t=1632550490222') format('woff'),
       url('https://at.alicdn.com/t/font_2827720_s1qw03dq0na.ttf?t=1632550490222') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60e";
}
.icon-weixin:before {
  content: "\e607";
}
.icon-zhifubao:before {
  content: "\e60a";
}
.icon-yinlian:before {
  content: "\e614";
}

